/* Basic tweaks to entire site. Gets rid of scroll bar */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

/* Set paragraph items to have no margin by default */
p {
    margin: 0;
}

button {
    cursor: pointer;
}

/* Makes map fill screen */
#map {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 150px;
    height: auto;

    margin-left: -10px;
    margin-top: 5px;

    pointer-events: none;
}

/* Customizes control box in the top right */
#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;

    margin: 10px;

    border-radius: 5px;

    background-color: white;
}

/* Tweaks button sizes in control box to be uniform */
#controls button {
    width: 180px;
}

/* Blocks arrows on number inputs for all browsers except firefox */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number] {
    appearance: none;
    margin: 0;
}

/* Makes latitude and longitude boxes smaller*/
input[type=number] {
    width: 75px;
}

/* Puts small gap between latitude and longitude boxes */
#latitude {
    margin-right: 5px;
}

#settings-button,
#settings,
#filters {
    position: absolute;
    top: 0;
    right: 0;

    margin: 10px;
    padding: 5px;

    border-radius: 5px;
}

#settings-button {
    z-index: 2;

    width: 35px;
    height: 35px;
    margin: 10px;

    border: none;

    background-color: white;
}

#settings {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;

    padding-bottom: 10px;

    background-color: white;
}

/* Adds width to the settings menus */
#settings,
#filters {
    width: 200px;
    padding-left: 10px;
}

/* Add small gap between "Data Structure:" header and selection box */
#data-structure p {
    margin-bottom: 3px;
}

/* Aligns radius value text next to slider */
#radius-box {
    display: flex;
}

#toggles {
    display: flex;
    gap: 25px;

    /* Centers buttons in settings box */
    padding-left: 5px;
}

#toggles button {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

/* Highlights button when it is turned on */
.toggled-on {
    background-color: #a9a9a9;
}

#filters {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin-top: 180px;
}