html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#map {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.website-name {
    position: absolute;
    z-index: 1;
    width: 130px;
    height: 35px;
    margin: 10px;
    left: 0;
    top: 0;
    background-color: rgb(160, 32, 32);
    text-align: center;
    border-radius: 3px;
}

.website-name h1 {
    color: white;
    font-size: 24px;
    line-height: 0.15;
    user-select: none;
}

/* Customizes control box in the top right */
#controls {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

#controls button {
    width: 180px;
}

/* Blocks arrows on number inputs for all browsers except firefox */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number] {
    appearance: none;
    margin: 0;
}

/* Makes latitude and longitude boxes smaller*/
input[type=number] {
    width: 75px;
}

/* Puts small gap between latitude and longitude boxes */
#latitude {
    margin-right: 5px;
}

#state-text {
    top: 0;
    right: 0;

    height: 20px;
    padding: 5px;
    margin-right: 75px;
    margin-top: 20px;

    color: white;

    display: none;
}

.loading-text {
    background-color: black;
    width: 125px;
}

.default-error {
    background-color: #cd4040;
    width: 170px;
}

.blocked-error {
    background-color: #cd4040;
    width: 180px;
}

.support-error {
    background-color: #cd4040;
    width: 335px;
}

#settings {
    position: absolute;
    top: 100vh;
    transform: translateY(-100%);
    z-index: 1;
}

#cog-button {
    text-align: center;
    width: 35px;
    height: 35px;
    margin: 10px;
}

#dropdowns {
    display: none;
    background-color: rgb(179, 179, 179);
    flex-direction: column;
    margin-left: 5px;
}

#dropdowns button {
    width: 300px;
    height: 50px;
    border: none;
}

#crime-dropdown,
#times-dropdown {
    width: 150px;
    height: 50px;
    display: none;
    flex-direction: column;
    height: 50px;
    flex-wrap: wrap;
    gap: 5px;
    column-gap: 10px;
    justify-content: center;
}

label {
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
}

input {
    float: left;
}